body {
  font-family: "Poppins", sans-serif;
}

.navBar {
  background-color: black;
}

nav .links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}

nav .links .icons {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav .line {
  width: 85%;
  height: 1px;
  margin-bottom: 20px;
  background-color: white;
}

nav a {
  text-decoration: none;
  color: white;
}

.logo {
  font-size: 48px;
}



/* ---------------- categories ----------------- */
section{
  padding-inline: 8rem;
  margin-block: 100px;
}
section h3{
  font-size: 32px;
  font-weight: 600;

}
section h5{
  font-size: 20px;
  font-weight: 600;

}
section p{
  font-size: 16px;
  color: #797979;
}

section .section-name {
  background-color: #EAEDFF;
  width: 107px;
  height: 35px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  text-align: center;
  margin-bottom: 12px;
  
}
.categories-cards{
  margin-top: 48px;
}
section .section-name p{
  color: #6759FF;
  font-weight:600;
  line-height: 35px;
  
}
.category-card {
  display: inline-flex;

}
/* ---------------- services ----------------- */

.service-card{
  border: #6759FF 1px solid;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.service-card img{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.service-card a{
  text-decoration: none;
  color: #6759FF;
  font-weight: bold;
  font-size: 18px;
}

.service-name{
  background-color: #ffffff;
  border: #6759FF 1px solid;
  height: 35px;
  padding-inline: 10px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  text-align: center;
  margin-bottom: 12px;

}
section .service-name p{
  color: #6759FF;
  font-weight:600;
  line-height: 35px;
  
}
.service-card span{
  font-size: 14px;

}
.text-darkgrey{
  color: #6F767E;
}

.service-card h6 {
  font-size: 18px;
  font-weight: 600;
}
.red-text{
  color: #EB5757;
  font-size: 12px;
}
.blue-text{
  color: #2682F0;
  font-weight: 500;
  font-size: 12px;

}

/* ---------------- footer ----------------- */
footer h2{
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
footer h4{
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 25px;


}
footer ul{
  list-style: none;
  list-style-position:outside;
  padding: 0;
}
footer li{
  margin: 0;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 35px; 
}
footer p{
  font-size: 18px; 
  text-transform: capitalize;
  line-height: 35px; 

}

footer{
  background: url(../images/image.png)  no-repeat fixed center ;
  background-size: cover;
  color:white;
}

footer>div:nth-child(1){
  min-height: 378px;
  background-color:#000a18da;
  padding-top: 80px;
}


footer>div:nth-child(2){
  height: 98px;
  background-color: rgba(0, 0, 0, 0.91);
}

footer>div:nth-child(2) p{
  line-height: 98px;
  font-size: 18px;
  font-weight: 400;
  
}