body {
  font-family: "Poppins", sans-serif;
  background-color: #F6F6F6;
}

/* ---------------- navbar ----------------- */

.nav-background {
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.2;
  filter: blur(4px);
  height: 150px;
  width: 100%;
  z-index: 0;
}

nav {
  position: absolute;
  top: 0;
  height: 150px;
  width: 100%;
}

nav .line {
  width: 80%;
  height: 1px;
  margin-bottom: 20px;
  background-color: white;
}

nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.logo {
  color: white;
  text-transform: uppercase;
  font-size: 48px;
}

.profile .avatar {
  object-fit: cover;
  width: 52px;
  height: 52px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}

/* ---------------- user profile ----------------- */

.profile .text-container span:first-child {
  color: #808080;
  font-size: 14px;
}

.profile .text-container span:last-child {
  color: #ffff;
  font-size: 16px;
}

/* ---------------- end of navbar ----------------- */

/* ---------------- hero ----------------- */

.hero {
  background: url(../images/banner-home.png) no-repeat fixed center;
  background-size: cover;

  min-height: 100vh;
  padding-top: 160px;
}

.card {
  background-color: transparent;
  border: none;
}

.card-background {
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: black;
  opacity: 0.2;
  z-index: 0;
}

.card .content {
  z-index: 1;
}

.card .content .card-title {
  color: #c3beff;
  font-weight: 700;
  font-size: 44px;

  text-transform: capitalize;
}

.card .content .card-paragraph {
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 38.5px;
}

.card .content .btns {
  width: 30%;
}

.card .content .dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;

  background-color: #c4c4c4;
}

.card .content .active-dot {
  background-color: #c3beff;
}

.big-circle {
  width: 600px;
  height: 600px;

  background-color: #2d265b;
}

.mid-circle {
  width: 85%;
  height: 85%;
  background-color: #332a69;
}

.small-circle {
  width: 85%;
  height: 85%;
  background: radial-gradient(
    133.85% 133.85% at 50.09% 50.09%,
    #292253 0%,
    #48428b 100%
  );
}

.small-circle > img {
  width: 85%;
  height: 85%;
}

/* ---------------- end of hero ----------------- */

/* ---------------- categories ----------------- */
section{
  padding-inline: 8rem;
  margin-block: 100px;
  text-transform: capitalize;

}
section h3{

  font-size: 32px;
  font-weight: 600;
  
}
section h5{

  font-size: 20px;
  font-weight: 600;
}
section p{

  font-size: 16px;
  color: #797979;
}

section .section-name {
  background-color: #EAEDFF;
  max-width: 107px;
  height: 35px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  text-align: center;
  margin-bottom: 12px;
  
}
.categories-cards {
  margin-top: 48px;
}
section .section-name p{
  color: #6759FF;
  font-weight:600;

  line-height: 35px;
}
.category-card {
  display: inline-flex;
}

/* ---------------- services ----------------- */

.service-card{
  border: #6759FF 1px solid;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.service-card img{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.service-card a{
  text-decoration: none;
  color: #6759FF;
  font-weight: bold;
  font-size: 18px;
}

.service-name{
  background-color: #F6F6F6;
  border: #6759FF 1px solid;
  height: 35px;
  padding-inline: 10px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  text-align: center;
  margin-bottom: 12px;

}
section .service-name p{
  color: #6759FF;
  font-weight:600;
  line-height: 35px;
  
}
.service-card span{
  font-size: 14px;

}
.text-darkgrey{
  color: #6F767E;
}

.service-card h6 {
  font-size: 18px;
  font-weight: 600;
}
.red-text{
  color: #EB5757;
  font-size: 12px;
}
.blue-text{
  color: #2682F0;
  font-weight: 500;
  font-size: 12px;

}

/* ---------------- testmonials ----------------- */

#testmonials h2{
  color: #6759FF;
}

#testmonials .heading{
  border-bottom: 1px solid black;
  margin-inline: auto;
  text-align: center;
  padding-bottom: 24px;
  max-width: 1237px;
}

.testmonials-content{
  background-color: white;
  max-width: 787px;
  min-height: 599px;
  margin-inline: auto;
  margin-top: 100px;
  text-align: center;
  padding-top: 97px;
  position: relative;
  box-shadow: 0 0 30px #aaaaaa3c;

}
.testmonials-content h3{
  font-size: 24px;
  margin-block: 13px 8px;
}
.testmonials-content p{
  font-size: 18px;
  font-weight: 400;
  color: black;
  line-height: 39px;
  max-width:530px ;
  margin-inline: auto;
  text-align: left;
  margin-top: 48px;
  text-transform: capitalize;
}

.testmonials-content svg{
  margin-inline: 3px;
}

.testmonials-content .testmonials-img {
  height: 110px;
  width: 110px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-inline: auto;
  
}
.testmonials-content .testmonials-img  img{
  position: relative;
  bottom: 20px;
  
  width: 110px;
}
.testmonials-content .dots{
  position: absolute;
  bottom: 5px;
  left: 50%;
  translate: -50%;

}

.testmonials-content .qoutes{
  position: absolute;
  top:97px;
  left:145px;
}

.testmonials-content .right, .testmonials-content .left{
  background-color: white;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
    box-shadow: 0 0 30px #aaaaaa3c;

}
.testmonials-content .right{
  top :50%;
  right: -105px;
  translate: -50% ;
}
.testmonials-content .left{
  top :50%;
  left: -5px;
  translate: -50% ;
}
/* ---------------- booking ----------------- */
#booking .time{
font-weight: 600;
font-size: 18px;
line-height: 22px;
letter-spacing: -0.01em;
color: #1A1D1F;
margin-top: 6px;
margin-bottom: 8px;

}

#booking .img-conainer{
  border: #C4C4C44D 0.7px solid;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 20px;
}

#booking .height-60{
  height: 60px;

}



/* ---------------- footer ----------------- */

footer h2 {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
footer h4 {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 25px;
}
footer ul {
  list-style: none;
  list-style-position: outside;
  padding: 0;
}
footer li {
  margin: 0;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 35px;
}
footer p {
  font-size: 18px;
  text-transform: capitalize;
  line-height: 35px;
}

footer {
  background: url(../images/image.png) no-repeat fixed center;
  background-size: cover;
  color: white;
}

footer > div:nth-child(1) {
  min-height: 378px;
  background-color: #000a18da;
  padding-top: 80px;
}

footer > div:nth-child(2) {
  height: 98px;
  background-color: rgba(0, 0, 0, 0.91);
}

footer > div:nth-child(2) p {
  line-height: 98px;
  font-size: 18px;
  font-weight: 400;
}
